.header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.855);
}

.logo {
    width: 10rem;
    height: 3rem;
}

.header-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
}

.header-menu>li {
    cursor: pointer;


}

.header-menu>li:hover {
    color: orange;
    cursor: pointer;
}